#v-popup-container {display:none;position: fixed;z-index: 996;width: 60%;left: 50%;margin-left: -30%;top: 20%;background-color: #fff;
    @include media-md-max(){width: 90%;margin-left:-45%;}
}
#v-popup-close {cursor: pointer;position: absolute;right: -25px;top: -25px;z-index: 998;width: 50px;height: 50px;text-align: center;font-size: 30px;background-color: $color_main;line-height: 43px;color: #fff;@extend %transition;
    &:hover{color: #fff;background: $color_sub;}
    @include media-xs-max(){right: 0px;top: -50px;}
}
#v-popup-iframe-container {position: absolute;z-index: 997;width: 100%;padding-bottom: 56.22%;/* border: 2px solid #000; *//* border-radius: 2px;background-color: #000; */}
#v-popup-iframe {z-index: 999;position: absolute;width: 100%;height: 100%;left: 0;top: 0;background-color: #000;}
#v-popup-overlay {display: none;position: fixed;z-index: 995;top: 0;background-color: #000;opacity: 0.8;width: 100%;height: 100%;}