*{box-sizing: border-box}
body{padding:0;margin: 0;font-family: $font_main;overflow-x:hidden;}
a{text-decoration: none;
    &:hover{text-decoration: none;}
}
li{list-style: none;}
button{outline: none;box-shadow: none;background: none;border:none;
    &:focus,&:active{outline: none;}
}
.img{
    &-fluid{max-width: 100%;}
}
// nice select adjust
.nice-select{
    .current,.list li{
        img{display: none;}
    }
    &:after{border-width:1px;height: 7px;width:7px;}
}
.val{
    &-msg{color:#fff;font-size:12px;position: absolute;bottom:-18px;right:5px;display: none;text-align:right;}
    &-error{}
}
.bg{
    &_white{background-color:#fff;}
    &_light{background-color:#F4F6F8;}
}
.neg{
    &_m{
        &--50{margin-top:-50px;}
        &--100{margin-top:-100px;}
    }
}
.mx{
    &_900{max-width: 900px;margin:0 auto;}
    &_800{max-width: 800px;margin:0 auto;}
}
.c{
    &_title{
        .lined{padding-top:7px;display: inline-block;position: relative;
            &:before{content:'';background: $color_sub;width: 40px;height: 1px;top: 0;left:0;position: absolute;}
        }
        &--inner{font-weight:600;margin:0;font-size:1.3rem;
            &.big{font-size:1.6rem;}
            &.small{font-size:1rem;}
            &.lined{padding-top:7px;display: inline-block;position: relative;
                &:before{content:'';background: $color_sub;width: 40px;height: 1px;top: 0;left:0;position: absolute;}
            }
            &.gap{
                &_big{line-height: 2.2rem;}
                &_small{line-height: 1.6rem;}
            }
        }
    }
    &_field{position: relative;padding-bottom:15px;
        input,textarea,&--input,&--textarea{padding:15px 20px;font-size:14px;width:100%;border:solid 1px #DEE3E8;outline:none;border-radius:6px;resize: none;}
        textarea{vertical-align: bottom;}
        &--error{color:$color_sub;font-size:12px;right:6px;bottom:14px;position: absolute;margin:0;display: none}
        &.with_country{
            .c_field{
                &--input{padding-left:115px;}
            }
            .nice-select{border:none;border-radius:0;border-right:solid 1px #DEE3E8;position:absolute;top:11px;padding:0 25px 0 10px;min-width:100px;background:none;left:1px;height:30px;line-height:30px;
                .current{text-transform: uppercase;color:#000;font-weight:600;min-width:62px;
                    .c-code{font-weight:600;color:#999;padding-left:5px;}
                }
                .list li{
                    img{display: inline-block;width: 18px;vertical-align: middle;margin-right:8px;}
                }
            }
        }
        &.type-select{width: 100%;display:flex;
            .c_field{
                &--select{font-size:14px;width:100%;border-radius:6px;min-height:53px;padding-top:6px;background-color:none;
                    ul.list{width: 100%;}
                }
            }
        }
        &.checktype{display: block;
                input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;
                    &:checked + label:after {content: '';display: block;position: absolute;top: 6px;left: 9px;width: 7px;height: 12px;border: solid #000;border-width: 0 2px 2px 0;transform: rotate(45deg);}
                }
                label {position: relative;cursor: pointer;
                    span{padding-left:35px;margin-top:-30px;display: inline-block;vertical-align: top;}
                    &:before {content:'';appearance: none;background-color: transparent;border: 2px solid #000;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                        padding: 10px;display: inline-block;position: relative;vertical-align: middle;cursor: pointer;margin-right: 5px;border-radius: 7px;}
                }
        }
    }
    &_btn{
        &--inner{color:$color_main;padding:15px 50px;border-radius: 6px;border:solid 1px $color_main;@extend %transition;min-width:200px;text-align:center;background:#fff;display: inline-block;box-shadow:none;text-transform:uppercase;font-weight:600;font-size:14px;
            &:hover{color: #fff;background: $color_main;}
            @include media-sm-max(){min-width:100px;}
        }
        &_loader{
            &--inner{color: $color_main;background: #F4F6F8;font-size: 14px;padding: 10px 40px;border-radius:20px;@extend %transition;
                &:hover{color:#fff;background: $color_main;}
            }
            &_loading {width: 40px;display: flex;justify-content: space-between;align-items: center;margin: 0 auto;margin-top: -11px;position: relative;z-index: -1;opacity: 0;
                &--item {width: 10px;height: 10px;border-radius: 50%;background: $color_main;
                    &:nth-child(1) {animation: bouncing $anim-drt alternate infinite $anim-ease;}
                    &:nth-child(2) {animation: bouncing $anim-drt $anim-drt/4 alternate infinite $anim-ease backwards;}
                    &:nth-child(3) {animation: bouncing $anim-drt $anim-drt/2 alternate infinite $anim-ease backwards;}
                }
            }
            &.in-loading{
                .c_btn_loader--inner{opacity: 0}
                .c_btn_loader_loading{opacity: 1}
            }
        }
        &--rounded{display: inline-block;font-weight:600;color: $color_main;background:#F4F6F8;font-size: 0.9rem;padding:7px 30px;border-radius:20px;@extend %transition;
            &:hover{color:#fff;background:$color_main;}
        }
        &--plain{color: $color_main;@extend %transition;font-weight:600;display: inline-block;font-size:1rem;
            svg{width: 10px;height:8px;margin-left:5px;
                path{fill:$color_main;@extend %transition;}
            }
            &:hover{color:$color_sub;
                svg path{fill: $color_sub;}
            }
            &.white{@extend .clr_white--text;
                svg path{@extend .clr_white--fill;}
            }
        }
    }
    &_splitline{background: #EFF2F3;width:100%;height:1px;}
    &_text{
        &--inner{font-size: 0.9rem;color:#2e2e2e;line-height: 1.4rem;}
    }
    &_font{
        &--r{font-weight:normal;}
    }
    &_shadow{@extend %shadow-light;}

}
.clr{
    &_white{
        &--text{color: #fff;}
        &--fill{
            svg path{fill:#fff;}
        }
    }
    &_light{color:#999;}
}
.r{
    &_xs{
        &--rev{
            @include media-xs-min(){flex-direction: row-reverse;}
            .row{
                @include media-xs-min(){flex-direction: row-reverse;}
            }
        }
    }
    &_xs_max{
        &--rev{
            @include media-xs-max(){flex-direction: row-reverse;}
            .row{
                @include media-xs-max(){flex-direction: row-reverse;}
            }
        }
    }
}

// slide controls
.slider{
    &_controls{margin:5px 5px 25px 5px;background:#fff;padding:16px 30px;box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.48);z-index: 1px;display: inline-block;border-radius:25px;line-height:10px;
        &_dots{margin:0 20px;display: inline-block;vertical-align:middle;line-height:7px;
            span{margin: 0 5px;outline:none;
                &.swiper-pagination-bullet-active{background: $color_main;}
            }
        }
        &_arrows{display: inline-block;vertical-align: middle;cursor: pointer;outline:none;line-height:10px;
            svg{
                path{fill:#000;@extend %transition;}
            }
            &.swiper-button-disabled{opacity: 0.2;cursor: default;}
            &:hover{
                svg{
                    path{fill:$color_main;}
                }
            }
        }
        @include media-sm-max(){width: max-content;}
    }
}

.fade_in{
    /* name, duration, timing function, delay, fill mode */
    animation-name: fadeIn;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay:100ms;
    animation-fill-mode: both;
    &-1{@extend .fade_in;animation-delay:400ms;}
    &-2{@extend .fade_in;animation-delay:800ms;}
}