// product landing
.prod_posts{
    &_each{
        p{font-size: 1rem;line-height: 1.6rem;margin:0;}
        &--btn{font-size: 1rem;color: $color_main;@extend %transition;
            svg path{fill:$color_main;@extend %transition;margin-left:5px;}
            &:hover{color: $color_sub;
                svg path{fill:$color_sub;}
            }
        }
        // video type post
        &_video{position: relative;overflow: hidden;cursor: pointer;
            &:before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.2);@extend %transition;z-index:1;}
            &--btn,&--text{position: absolute;width:100%;left:0;z-index: 2;}
            &--btn{top: 50%;transform:translateY(-50%);
                svg{width:55px;height:55px;border-radius:50%;
                    path{@extend %transition;}
                    &:hover{
                        path:first-child{fill:$color_sub;}
                    }
                }
            }
            &--text{bottom:15px;color:#fff;font-weight:600;font-size:1.3rem;}
            &:hover:before{background:rgba(0,0,0,0.6);}
        }
    }
}



.product_listing{position: relative;
    &:after{z-index: -1;position: absolute;top:0;left:0;width:100%;height:200px;background:#F4F6F8;content:'';}
}
// product Details page[start]
.product_details{
    &_imgs{padding-bottom:50px;}
    &_desc{
        &--title{font-size: 28px;font-weight: 600;
            @include media-xs-max(){text-align: center;}
        }
        &--copy{font-size: 16px;font-weight: 400;color: #2E2E2E;padding-bottom:10px;
            @include media-xs-max(){text-align: center;}
        }
        &_form{
            &--radios{
                @include radio-input();
                .input_grps--btn{
                    br{display: none;}
                }
                .QueryType{
                    .wpcf7-list-item-label{line-height:initial !important;}
                }
            }
            &--spl{color: $color_sub;
                // img{
                //     // @include media-sm-max(){width:18px;}
                // }
                span{display: inline-block;vertical-align: middle;font-weight: 600;
                    @include media-sm-max(){font-size:12px;}
                }
                &.wp-ajust{position: absolute;margin-top:-80px;max-width:50px;
                    // @include media-xs-max(){margin-top:-64px;}
                }
            }
        }
        &--scrollnote{color: #000;font-size:14px;
            svg path{@extend %transition;margin-left:5px;}
            &:hover{color:$color_main;
                svg path{fill:$color_main;}
            }
        }
    }
}
// product Details page[end]
// produt benefits[start]
.prod_secs{padding: 50px 0;
    &-lefted{
        .prod_secs_copy{@include media-sm-min(){padding-right:30px;}}
    }
    &-righted{
        .prod_secs_copy{@include media-sm-min(){padding-left:30px;}}
    }
    &_copy{padding:40px 0;
        &--title{font-size:18px;font-weight: 600;margin:0; }
        &--text{font-size: 14px;margin:0;color:#444;}
        @include media-xs-max(){padding:10px 0;text-align:center;}
        
    }
    &--img{max-width: 180px;margin:0 auto;position:relative;
        .line{position: absolute;width:1px;background: #E2E2E2;height:80%;
            &.to{
                &-e{top: 50%;left: 105%;width: 80px;height: 1px;
                    @include media-md-max(){width: 50px;}
                }
                &-w{top: 50%;right: 105%;width: 80px;height: 1px;
                    @include media-md-max(){width: 50px;}
                }
                &-ne{top: -21px;left: 126%;transform: rotate(50deg);width: 1px;height: 115px;
                    @include media-md-max(){top: -9px;left: 116%;height: 77px;}
                }
                &-nw{top: -21px;right: 126%;transform: rotate(-50deg);width: 1px;height: 115px;
                    @include media-md-max(){top: -9px;right: 116%;height: 77px;}
                }
                &-se{bottom: -21px;left: 126%;transform: rotate(-50deg);width: 1px;height: 115px;
                    @include media-md-max(){bottom: -9px;left: 116%;height: 77px;}
                }
                &-sw{bottom: -21px;right: 126%;transform: rotate(50deg);width: 1px;height: 115px;
                    @include media-md-max(){bottom: -9px;right: 116%;height: 77px;}
                }
            }
        }
    }
}
// produt benefits[end]
// product feature slides[start]
.prod_feat{
    &_slider{
        &_each{padding:50px 40px;border:solid 1px #F4F6F8;border-bottom:none;border-right:none;text-align:center;height:unset;
            img{max-width:130px;margin:auto;}
            &:first-child,&.no-l-border{border-left: none;}
            // &:last-child{border-right: solid 1px #c9c9c9;}
            &--text{font-weight:600;color:#333;font-size:1.2rem;padding-top:50px;}
        }
        &--arrow{width: 46px;height: 46px;border-radius: 50%;border: solid 1px #000;padding: 8px 0;text-align: center;margin: 0 5px;cursor: pointer;outline: none;position:absolute;top:50%;z-index: 1;background:#fff;transform:translateY(-50%);@extend %transition;
            &.feat{
                &-prev{left:-30px;
                    @include media-md-max(){left:-10px}
                    @include media-xs-max(){left:10px;}
                }
                &-next{right:-30px;
                    @include media-md-max(){right:-10px}
                    @include media-xs-max(){right:10px;}
                }
            }
            &.swiper-button-disabled{opacity: 0.2;cursor: default;}
            &:hover:not(.swiper-button-disabled) {background: #f1f1f1;border-color: #f1f1f1;}
            @include media-xs-max(){width: 35px;height:35px;padding:3px 0;}
        }
    }
}
// product feature slides[end]
// tyre table[start]
.tyre_table{
    &_select{
        &--each{display: inline-block;vertical-align:middle;
            .nice-select{min-width: 160px;
                // .list:hover .option:not(:hover){background:#F4F6F8;color:$color_main;}
                .current{font-weight: bold;}
                .list{width: 475px;white-space:pre-wrap;padding:10px;
                    .option{display: inline-block;vertical-align: middle;margin:0 3px;background:#F4F6F8;border-radius:20px;padding:10px 20px;min-height:auto;color:$color_main;font-size:13px;line-height:13px;font-weight:600;@extend %transition;
                        &:first-child{display: none;}
                        &.selected,&:hover{background:$color_main;color:#fff;}
                    }
                    @include media-xs-max(){width:250px;}
                }
                &.open{border-color:$color_main;
                    .current{color:$color_main;}
                    &:after{border-color:$color_main;}
                }
            }
            &:last-child{
                .nice-select .list{
                    @include media-xs-max(){left:inherit;right: 0;}
                }
            }
        }
    }
    table{width:100%;}
    #table-holder{/* max-height:400px; */overflow: auto;white-space: nowrap;cursor: all-scroll;-webkit-overflow-scroll:touch;
        p{margin:0;}
        table{/* table-layout: fixed; */word-wrap: break-word;
            
            th,td{white-space: pre-wrap;word-wrap: break-word;padding:5px;}
            th{border-width:1px;font-size: 0.8rem;font-weight:600;background: #f4f6f8;padding:2px 5px;}
            td{font-size: 0.75rem;}
            
            &.head-table{border-bottom:#fff;}
            // &.res-table{}
            @include media-lg-max(){min-width: 1100px;}
        }
        // *{white-space: inherit;}
        .table-loading{border:solid 1px #dee2e6;padding:30px;text-align:center;padding-top:60px;
            .c_btn_loader_loading{opacity: 1;margin-bottom:15px;}
        }
        &::-webkit-scrollbar-track{
            // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #fff;
            border:none;
        }


        &::-webkit-scrollbar
        {
            width: 6px;
            background-color: #fff;
        }

        &::-webkit-scrollbar-thumb
        {
            background-color: $color_main;
            border:none;
        }
        &::-webkit-scrollbar-button{display: none;}
        &::-webkit-scrollbar:horizontal{height:6px;}
    }
    &--expand{background:#F4F6F8;text-align:center;display:block;@extend %transition;border:solid 1px #dee2e6;border-left:none;
        svg path{@extend %transition;}
        &:hover{background:$color_main;
            svg path{fill:#fff;}
        }
        @include media-sm-max(){border-left: solid 1px #dee2e6;padding:10px 5px;}
    }
    @include media-md-max(){overflow-x:hidden;}
}
// tyre table[end]

// expand table
.expand_table{position:fixed;left:0;top:0;width:100%;height:100%;z-index:100;background:rgba(0,0,0,0.8);display:none;padding:50px;
    &--close{position:absolute;right: 5px;top:5px;cursor: pointer;
        svg{
            path{@extend %transition;}
        }
        &:hover{
            svg path{fill:#fff;}
        }
        // @include media-xs-max(){top:5px;}
    }
    &_inner{background:#fff;position: absolute;left: 40px;top:50%;transform:translateY(-60%);width: calc(100% - 80px);max-height: 100%;overflow: auto;margin-top:40px;padding-bottom:10px;
        &::-webkit-scrollbar-track{background-color: #fff;border:none;}
        &::-webkit-scrollbar{width: 6px; background-color: #fff;}
        &::-webkit-scrollbar-thumb{ background-color: $color_main;border:none;}
        &::-webkit-scrollbar-button{display: none;}
        &::-webkit-scrollbar:horizontal{height:6px;}
        table{
            th,td{font-size:0.8rem;padding:5px;}
            td{font-size:0.75rem;}
        }
        @include media-xs-max(){left:15px;width:calc(100% - 30px);/* top:40px;transform:none; */transform:translateY(-50%);padding-bottom:25px;}
    }
}
// wp adjusted
span.wpcf7-list-item{margin: 0 15px 0 0!important;
    label{position:relative;
        [type="radio"]:checked,[type="radio"]:not(:checked) {position: absolute;left: -9999px;}
        [type="radio"]:checked + span,
        [type="radio"]:not(:checked) + span{position: relative;padding-left: 28px;cursor: pointer;line-height: 20px;display: inline-block;color: #898989;font-size:14px;}
        
        [type="radio"]:checked + span:before,
        [type="radio"]:not(:checked) + span:before {content: '';position: absolute;left: 0;top: 0;width: 21px;height: 21px;border: 1px solid #E8E8E8;border-radius: 100%;background: #F4F6F8;
            @include media-xs-max(){top:4px;}
        }
        
        [type="radio"]:checked + span:after,
        [type="radio"]:not(:checked) + span:after {content: '';width:21px;height: 21px;background: url(#{$img_url}tick.svg)no-repeat center center / contain;position: absolute;top: 0px;left: 0px;border-radius: 100%;transition: all 0.2s ease;
            @include media-xs-max(){top:4px;}
        }
        
        [type="radio"]:not(:checked) + span:after {opacity: 0;transform: scale(0);}
        
        [type="radio"]:checked + span{color: #000;}
        [type="radio"]:checked + span:after {opacity: 1;transform: scale(1);}
    }
}


